<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
        head {background-color: aqua}
        body {background-color: aqua}
        body {color: crimson}
    </style>
</head>
<body>
<h1 >About me</h1>
<p>{{paragraph}}</p>
</body>
{{> footer}}
</html>