<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
        head {background-color: aqua}
        body {background-color: aqua}
        body {color: crimson}
    </style>
</head>
<body>
    <h1>{{header}}</h1>
    <p>{{welcome}}</p>
    <p>{{output}}</p>
</body>
    {{> footer}}
</html>