<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Challenge}}</title>
    <style>
        head {background-color: aqua}
        body {background-color: aqua}
        body {color: crimson}
    </style>
</head>
<body>
    <a href = "about">{{about}}</a> <br><br><br>
    <a href = "currency">{{currency}}</a>
</body>
{{> footer}}
</html>